body {
  background-image: url('https://3.bp.blogspot.com/-M6JcWRYe7A8/VzAX1pZeKAI/AAAAAAAABUc/Pw2UrOmLk_4aXg-n3B029HtKbbXHTxeswCLcB/s1600/desain%2Bbackground%2Bgambar%2Bsoft%2Bkeren%2Bbiru.jpg');
  background-size: cover;
  margin-top : 20vh;
}

#plateau {
  border: 3px blue outset;
  background-color: blue;
  margin : auto;
}
#plateau td {
  width: 2cm;
  height: 2cm;
  margin: 0px;
  padding: 0px;
  border: 2px blue inset;
  border-radius: 2cm;
  background-color: white;
  cursor: pointer;
}
#plateau td.joueur1 {
  background-color: red;
}

#plateau td.joueur2 {
  background-color: yellow;
}

#jeu.player1 tr:nth-of-type(1) td:hover {
  background-color: red;
}

#jeu.player2 tr:nth-of-type(1) td:hover {
  background-color: yellow;
}

#timer {
  text-align: center;
  width : 100%;
  font-weight: bold;
}

#player {
  text-align: center;
  width : 100%;
  font-weight: bold;
}


